<%-include('layout/header.ejs')-%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-normal mt-3" style="color: rgb(51, 50, 50); text-align: center;">C Language</h1>
       
      </div>
      <br>

    <div class="container mt-4">
        <h1> What is C?⁣</h1>
        <p style="color: gray;">Since the late 19th century, C has been a popular programming language for general-purpose use.
            C language was developed by Dennis M. Ritchie at bell laboratory in early 1970s⁣
            Its applications are very diverse. It ranges from developing operating systems to databases and all.⁣     It is system programming language used to do low level programming (e.g., driver or kernel)
            Even if it’s old, it is still a very popular programming language.⁣
            As the whole UNIX operating system was written in C, it has a strong association with the operating system⁣
            C has also been used widely while creating iOS and Android kernels.⁣
            MySQL database is written using C.⁣
            Ruby and Pearl are mostly written using C.⁣
            Most part of Apache and NGINX is written using C.⁣
            Embedded Systems are created using C⁣.</p>
            <h1>Features of C</h1>
            <p style="color: gray;">As mentioned above, it is one of the most popular programming languages in the world.
                Learning any other popular programming language such as Python or C++ becomes a cakewalk already if you know C.
                C is a flexible language and that gets proven by the fact that it can be used in a variety of applications as well as technologies.
                C is very fast when compared to other programming languages be it Java or Python.
                C takes only significant CPU time for interpretation. That is why a lot of Python libraries such as NumPy, pandas, Scikit-learn, etc. are built using C.
                Being close to Machine language, some of its functions include direct access to machine-level hardware APIs.
                It is a structural language (Follows a specific Structure) /Compiled language this point should be added
                
                It is procedural programming language (POP) Procedurall Programming is the use of code in a step-wise procedure to develop applications. 
                
                 </p>
<br>
                <h2><b><u> Where you can study (Resources)</u></b></h3>
                    <a href="https://youtu.be/irqbmMNs2Bo?si=zRiZ8M_5roBRHroC" target="_blank">https://youtu.be/irqbmMNs2Bo?si=zRiZ8M_5roBRHroC</a><br>
                    <a href="https://youtu.be/ZSPZob_1TOk?si=1KnF-9awEHoHZRuK" target="_blank">https://youtu.be/ZSPZob_1TOk?si=1KnF-9awEHoHZRuK</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>