<%-include('layout/header.ejs')-%>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-normal mt-3" style="color: rgb(51, 50, 50); text-align: center;">C++ Overview</h1>
       
      </div>
      <br>

    <div class="container mt-4">
        <h1>What is C++?</h1>
        <p style="color: gray;">C++ was developed by Bjarne Stroustrup, as an extension to the C language.

            Despite being an 80s creation, C++ has been a popular programming language throughout these years.
            
            C++ is a cross-platform language that can be used to create high-performance applications and software systems.
            
            C++ is very close to the hardware making it comparatively easy for programmers to give the instructions directly to the system without any intermediary giving programmers a high level of control over system resources and memory.</p>
            <h1>Why should we learn C++</h1>
            <p style="color: gray;">C++ is one of the world's most popular programming languages.

                In today's operating systems, GUIs, and embedded systems, C++ is widely used.
                
                It is one of the most popular programming languages for its object-orientedness. C++ is an object-oriented programming language that gives a clear structure to programs and allows code to be reused, lowering development costs.
                
                With C++, you can develop applications or heavy games that can run on different platforms.
                
                As C++ is close to other programming languages such as C# and Java, which makes it easy for programmers to switch to C++ or vice versa while it is actually very easy to learn.</p>
<br>
                <h2><b><u> Where you can study (Resources)</u></b></h3>
                    <a href="https://youtu.be/yGB9jhsEsr8?si=W1E-ZpgwGyuCwPLt" target="_blank">https://youtu.be/yGB9jhsEsr8?si=W1E-ZpgwGyuCwPLt</a><br>
                    <a href="https://youtu.be/e7sAf4SbS_g?si=rYQ4M7aboIRlAIOR" target="_blank">https://youtu.be/e7sAf4SbS_g?si=rYQ4M7aboIRlAIOR</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>